/LLM_course/src/csm/
LLM_course/src/gen_ai_basics/custom_gpt/model/
/LLM_course/src/gen_ai_basics/scripts/model/
/LLM_course/src/gen_ai_basics/scripts/test_trainer/
/LLM_course/src/gen_ai_basics/huggingface_train_model_scratch/EsperBERTo/
/LLM_course/src/gen_ai_basics/huggingface_train_model_scratch/eo_data/
/LLM_course/src/gen_ai_basics/robot_ai_exercise_1/custom_t5_robot_model/*
